<div ng-controller="SistemaCtrl">
<div class="page-header">
	<h1>Manter Sistema</h1>
</div>
<form ng-submit="pesquisar()">
	<div class="input-group">
		<label>Descricao</label><input type="text" class="form-control"
			ng-model="descricao" />
		<hr />
		<label>Sigla</label><input type="text" class="form-control"
			ng-model="sigla" />
		<hr />
		<label>E-mail de atendimento do sistema</label><input type="email"
			class="form-control" ng-model="emailAtendimentoSistema"
			pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2}" />
		<hr />
		<div style="display: inline; margin: 0 5px">
			<button type="submit" class="btn btn-info">
				Pesquisar <span class="glyphicon glyphicon-search"></span>
			</button>
			<button class="btn btn-default" type="button" ng-click="limpar()">
				Limpar <span class="glyphicon glyphicon-remove"></span>
			</button>
			<button class="btn btn-default" type="button" ng-click="cadastrar()">
				Novo Sistema <span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
	</div>
</form>
<hr />
<div class="alert alert-info" role="alert" ng-hide="msgErro.length == 0">{{msgErro}}</div>
<table id="tableSistema" class="table" ng-hide="sistemas.length == 0">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Descricao</th>
			<th scope="col">Sigla</th>
			<th scope="col">Email Atendimento Sistema</th>
			<th scope="col">Url</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="sistema in sistemas | itemsPerPage: 10">
			<th scope="row">1</th>
			<td>{{sistema.descricao}}</td>
			<td>{{sistema.sigla}}</td>
			<td>{{sistema.emailAtendimentoSistema}}</td>
			<td>{{sistema.url}}</td>
			<td>{{sistema.controleSistema.enumStatus}}</td>
		</tr>
	</tbody>
</table>
<div style="float: right;">
	<dir-pagination-controls max-size="10" direction-links="true"
		boundary-links="true"> </dir-pagination-controls>
</div>
</div>