<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<head>
<link rel="stylesheet"
	href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body>
	<div ng-include="'app/sistema/views/sistema.html'"></div>
	<a href="/manterSistema">sistema</a>
	<div ng-view="ng-view"></div>
	<script type="text/javascript"
		src="./bower_components/angular/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
	<script type="text/javascript"
		src="./bower_components/angularUtils-pagination/dirPagination.js"></script>
	<script src="app/app.js"></script>
	<script src="app/manterSistema/ManterSistemaCtrl.js"></script>
	<script src="app/Sistema/SistemaCtrl.js"></script>
</body>
</html>